@{
    ViewBag.Title = "Welcome";
}


    <style>
        body {
            background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../../Scripts/Images/lunar.jpg");
            /* Center and scale the image nicely */
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            color: #fffbfb;
            background-color: #000;
        }</style>
    
        <div align="center">
            <div class="col-md-4" style="position: relative; top: 170px">
                    <h1> SPACE BUS  </h1>
                    <p class="lead"> EXPLORING THE GALAXIES.</p>
                
            </div>
        </div >
        

        <div class="row" style="height: 605px">
        </div>

